*,*:after,*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  background-color: #fff;
  color: #000;

  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.form-container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  background: #09aada;

}

.input-row {
  margin-bottom: 10px;
}

.input-row label {
  display: block;
  margin-bottom: 3px;
}

.input-row textarea, .input-row input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: 0;
  margin-bottom: 3px;
  font-size: 18px;
  font-family: Arial;
}

.input-row textarea {
  height: 100px;
}

.input-row input[type="submit"] {
  width: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: #002f3a;
}

.success {
  background: #9fd2a1;
  padding: 5px 10px;
  text-align: center;
  color: #326b07;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 10px;
}